h1 {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 150px;
    color: khaki;
}

h1, h2, p, h3{
    font-family: Hevetica;
}
.price{
  color: Blue;
  font-weight: bold;
}
#brush {
  background-color: MediumSpringGreen;
}
.items h2 {  color: white;
            font-size: 36px;
}
#paints {
  background-color: SkyBlue;
}
#frames {
  background-color: LightCoral;
}
